.luz {
	margin: 4px;
  border-radius: 100%;
  min-width: 80px;
  min-height: 80px;
  cursor:pointer;
}
.prender {
  box-shadow: 0px 0px 30px 30px rgb(214, 213, 213);
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}

